;; -*- cider-jack-in-nrepl-middlewares: ("ikappaki.nrepl-mdlw-log/middleware" "cider.nrepl/cider-middleware"); -*-
{:paths ["src"]
 :deps {nrepl/nrepl {:mvn/version "1.0.0"}
        cider/cider-nrepl {:mvn/version "0.29.0"}}}
